@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(../src/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  font-family: "Merriweather", sans-serif;
}

#navbar {
  font-size: 26px;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.tab {
  padding-top: 40px;
  color: white;
}

.tab:hover {
  color: #b5986d;
}

.tab:active {
  color: white;
}

#home-block {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  background-color: white;
  box-shadow: 50px 50px #b5986d;
}

#hs {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 40px;
  font-weight: 300;
}

#desc {
  padding: 30px;
  font-size: 28px;
}

#book {
  appearance: none;
  margin: 30px;
  border: none;
  border-radius: 12px;
  background-color: #b5986d;
  color: white;
  height: 50px;
  width: 220px;
  font-size: 22px;
}

#book:hover {
  background-color: white;
  color: #b5986d;
}

#book:active {
  color: white;
  background-color: #b5986d;
}

#menu-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  background-color: white;
  padding: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.dish {
  padding: 10px;
  border: 2px solid #b5986d;
}

img {
  width: auto;
  height: 400px;
}
